.index {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 16px;
}

.heading,
.text {
  padding: 0;
  margin: 0;
}

.text {
  font-size: 19.2px;
  padding-bottom: 32px;
}

.content {
  display: grid;
  gap: 32px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  gap: 16px;
}

.label {
  display: grid;
  gap: 3.2px;
  max-width: 320px;
  text-align: left;
  font-size: 16px;
}

.input {
  padding: 6.4px;
}

.button {
  padding: 6.4px;
}

.list {
  list-style: none;
  padding: 0;
  padding-top: 48px;
  margin: 0;
  display: flex;
  gap: 32px;
}

.list>li {
  max-width: 320px;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .list {
    display: block;
  }

  .list>li {
    padding-bottom: 16px;
  }
}